In [ ]:
Numbers:
    
integers

Floats

In [1]:
2+3

5

In [2]:
2-3

-1

In [3]:
2*3

6

In [4]:
2**3

8

In [5]:
3**2

9

In [6]:
4**2

16

In [7]:
4**3

64

In [8]:
1.0 + 2.3

3.3

In [9]:
x = 1.0
y = 2.3

z = x+y

print(z)

3.3

In [10]:
type(z)

float

In [11]:
x = 10

y = 20

z = x+y

print(z)

30

In [12]:
type(z)

int

In [13]:
x = 11

y = 12.5

z = x+y

print(z)

23.5

In [14]:
print(z)

23.5

In [15]:
type(z)

float

In [ ]:
Introduction to List-----Data type.

A list is a collection of items in a particular order.

how to define a list....?

[,]

In [16]:
students = ['lakshmi','abdul','satish','swetha','vijay']#0,1,2,3,4

print(students)

['lakshmi', 'abdul', 'satish', 'swetha', 'vijay']

In [17]:
type(students)

list

In [ ]:
codetraining01@gmail.com

In [ ]:
Accessing the elements in the list:
    
    indexing:.......0,1,2,3......

In [ ]:
obj: to print only satish name on the console.

In [18]:
print(students[2])

satish

In [19]:
print(students[3])

swetha

In [20]:
print(students[3].title())

Swetha

In [21]:
students1 = ['spurthi','karthik','sravanthi','hussain']

print(students1)

['spurthi', 'karthik', 'sravanthi', 'hussain']

In [ ]:
message = f"you are doing a good job, {students1.title()}"

print(message)

In [ ]:
!python

Python 3.7.3 (default, Mar 27 2019, 16:54:48)
[Clang 4.0.1 (tags/RELEASE_401/final)] :: Anaconda, Inc. on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>>

In [ ]:
!python --version

In [ ]:
"""
Hi This is
a multi
line comment.
"""

In [ ]:
\n----->..

In [ ]:
students1 = ['spurthi','karthik','sravanthi','hussain']

print(students1)