In [1]:
students = ['lakshmi','vijay','karthik','sravanthi']

print(students)

['lakshmi', 'vijay', 'karthik', 'sravanthi']

In [2]:
print(students[3])

sravanthi

In [ ]:
how to use the index positions from the reverse order.....!!

In [ ]:
-1,-2,-3.........**

In [4]:
print(students[-2].title())

Karthik

In [ ]:
changing, adding and removing elements in the list.

In [5]:
my_students = ['sirish','satish','swetha','spurthi']

print(my_students)

['sirish', 'satish', 'swetha', 'spurthi']

In [ ]:
1.changing elements in the list:

In [ ]:
obj: sirish-------->edwin

In [6]:
my_students[0] = 'edwin' #

print(my_students)

['edwin', 'satish', 'swetha', 'spurthi']

In [ ]:
2.adding elements in the list

In [7]:
my_students.append('kumar')

print(my_students)

['edwin', 'satish', 'swetha', 'spurthi', 'kumar']

In [ ]:
obj....hussian name should be added at the second index place...?**

In [8]:
my_students.insert(2,'hussian')

print(my_students)

['edwin', 'satish', 'hussian', 'swetha', 'spurthi', 'kumar']

In [ ]:
3.Removing elements in the list.

In [9]:
del my_students[3]

print(my_students)

['edwin', 'satish', 'hussian', 'spurthi', 'kumar']

In [ ]:
most aksed question:***
    
    pop()----->it will remove element from the list, by default last e
    
    element will be removed, pop(2),pop(3)
    
    
    pop()------->will remove the elements temp.

In [10]:
my_students.pop()

'kumar'

In [11]:
print(my_students)

['edwin', 'satish', 'hussian', 'spurthi']

In [12]:
#Slicing the elements in the list:
    
team = ['vijay','satish','prasanna','abdul']

print(team)

['vijay', 'satish', 'prasanna', 'abdul']

In [13]:
print(team[0:2]) #syntax(start:end:stepcount)......exclude the end index

['vijay', 'satish']

In [14]:
print(team[2:4])

['prasanna', 'abdul']

In [15]:
print(team[1:3])

['satish', 'prasanna']

In [16]:
print(team[0:4:2])

['vijay', 'prasanna']